body {
  padding-top: px2Rem(70px);
}

@function px2Rem($px, $base-font-size: 17.28px) {
  @if (unitless($px)) {
    @return ($px / 17.28) * 1rem;
  } @else if (unit($px) == em) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

/*媒体查询,不同屏幕下的根元素字体大小设置，利于rem*/
@media screen and (max-width: 8360px) {
  html {
    font-size: 83.6px !important;
  }
}
@media screen and (max-width: 8160px) {
  html {
    font-size: 81.6px !important;
  }
}
@media screen and (max-width: 7960px) {
  html {
    font-size: 79.6px !important;
  }
}
@media screen and (max-width: 7760px) {
  html {
    font-size: 77.6px !important;
  }
}
@media screen and (max-width: 7560px) {
  html {
    font-size: 75.6px !important;
  }
}
@media screen and (max-width: 7360px) {
  html {
    font-size: 73.6px !important;
  }
}
@media screen and (max-width: 7160px) {
  html {
    font-size: 71.6px !important;
  }
}
@media screen and (max-width: 6960px) {
  html {
    font-size: 69.6px !important;
  }
}
@media screen and (max-width: 6760px) {
  html {
    font-size: 67.6px !important;
  }
}
@media screen and (max-width: 6560px) {
  html {
    font-size: 65.6px !important;
  }
}
@media screen and (max-width: 6360px) {
  html {
    font-size: 63.6px !important;
  }
}
@media screen and (max-width: 6160px) {
  html {
    font-size: 61.6px !important;
  }
}
@media screen and (max-width: 5960px) {
  html {
    font-size: 59.6px !important;
  }
}
@media screen and (max-width: 5760px) {
  html {
    font-size: 57.6px !important;
  }
}
@media screen and (max-width: 5560px) {
  html {
    font-size: 55.6px !important;
  }
}
@media screen and (max-width: 5360px) {
  html {
    font-size: 53.6px !important;
  }
}
@media screen and (max-width: 5160px) {
  html {
    font-size: 51.6px !important;
  }
}
@media screen and (max-width: 4960px) {
  html {
    font-size: 49.6px !important;
  }
}
@media screen and (max-width: 4760px) {
  html {
    font-size: 47.6px !important;
  }
}
@media screen and (max-width: 4560px) {
  html {
    font-size: 45.6px !important;
  }
}
@media screen and (max-width: 4360px) {
  html {
    font-size: 43.6px !important;
  }
}
@media screen and (max-width: 4160px) {
  html {
    font-size: 41.6px !important;
  }
}
@media screen and (max-width: 3960px) {
  html {
    font-size: 39.6px !important;
  }
}
@media screen and (max-width: 3760px) {
  html {
    font-size: 37.6px !important;
  }
}
@media screen and (max-width: 3560px) {
  html {
    font-size: 35.6px !important;
  }
}
@media screen and (max-width: 3360px) {
  html {
    font-size: 33.6px !important;
  }
}
@media screen and (max-width: 3160px) {
  html {
    font-size: 31.6px !important;
  }
}
@media screen and (max-width: 2960px) {
  html {
    font-size: 29.6px !important;
  }
}
@media screen and (max-width: 2760px) {
  html {
    font-size: 27.6px !important;
  }
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 25.6px !important;
  }
}
@media screen and (max-width: 2360px) {
  html {
    font-size: 23.6px !important;
  }
}
@media screen and (max-width: 2160px) {
  html {
    font-size: 21.6px !important;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 19.2px !important;
  }
}
@media screen and (max-width: 1728px) {
  html {
    font-size: 17.28px !important;
  }
}
@media screen and (max-width: 1520px) {
  html {
    font-size: 15.2px !important;
  }
}
@media screen and (max-width: 1420px) {
  html {
    font-size: 14.2px !important;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 13.66px !important;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 12.8px !important;
  }
}
@media screen and (max-width: 1140px) {
  html {
    font-size: 11.4px !important;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 10.24px !important;
  }
}
@media screen and (max-width: 924px) {
  html {
    font-size: 9.24px !important;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 8px !important;
  }
}
