@import "media";

.news {
  width: 100%;
  position: relative;
  .news_bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: px2Rem(70px);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .news_left {
    position: absolute;
    top: px2Rem(140px);
    left: px2Rem(44px);
    ul {
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: px2Rem(13px);
        a {
          color: #000;
          font-size: px2Rem(20px);
          font-weight: 800;
          transition: 0.3s;
          &:hover {
            color: #fccf00;
          }

          &:active {
            color: #587558;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .news_center {
    padding-top: px2Rem(140px);
    width: px2Rem(935px);
    margin: 0 auto;
    flex: 1;
    ul {
      width: 100%;
      li {
        padding-left: px2Rem(30px);
        width: 100%;
        margin-bottom: px2Rem(60px);
        display: flex;
        justify-content: space-between;
        .cover {

          width: px2Rem(467px);
          height: px2Rem(241px);

          img {
            border-radius:px2Rem(12px) ;
            width: 100%;
            height: 100%;
            box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
          }
        }
        .info {
          width: px2Rem(450px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          h3 {
            font-size: px2Rem(22px);
            font-weight: 800;
            color: #000;
            transition: all 0.3s ease;
          }
          p {
            line-height: 1.3;
            color: #000;
            font-size: px2Rem(22px);
            font-weight: 500;
            transition: all 0.3s ease;
            text-align: justify;
          }
          a {
            transition: 0.3s;
            &:hover {
              color: #fccf00;
            }
            &:active {
              color: #587558;
            }
          }
        }
      }
    }
  }
  .news_right {
    width: px2Rem(150px);
  }
}
