/* 导入字体 */
@font-face {
  font-family: 'Inter-Black';
  src: url('../Font-Inter/Inter-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('../Font-Inter/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('../Font-Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../Font-Inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Light';
  src: url('../Font-Inter/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('../Font-Inter/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('../Font-Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../Font-Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Thin';
  src: url('../Font-Inter/Inter-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 16px; /* 滚动条宽度 */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道颜色 */
}
::-webkit-scrollbar-thumb {
  background: #eaeaea; /* 滚动条滑块颜色 */
  border-radius: 6px; /* 滚动条滑块圆角 */
}
::-webkit-scrollbar-thumb:hover {
  background: #797979; /* 滚动条滑块悬停颜色 */
}
/* Firefox 滚动条样式 */
body {
  scrollbar-width: thin; /* 设置滚动条宽度为细 */
  scrollbar-color: #eaeaea #f1f1f1; /* 滚动条滑块颜色和轨道颜色 */
}

/* 全局设置 */
html, body {
  height: 100%;
  margin: 0;
}

/* 基础设置 */
.mac-book-pro-16-1,
.mac-book-pro-16-1 * {
  box-sizing: border-box;
}
.mac-book-pro-16-1 {
  background: #ffffff;
  width: 1728px;
  height: 2079px;
  position: relative;
  overflow: hidden;
}

/* 首栏设置 */
.header-background {
  width: 1728px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-slogan {
  color: #ffffff;
  text-align: left;
  font: 700 48px "Inter-Bold", sans-serif;
  position: absolute;
  left: 533px;
  top: 42px;
  width: 736px;
  height: 49px;
}
.header-full-logo {
  width: 299px;
  height: 148px;
  position: absolute;
  left: 56px;
  top: 42px;
}
.header-search {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1446px;
  top: 72px;
}
.header-search:hover {
  filter: brightness(0.5); 
  transition: 0.3s;
}
.header-search:active {
  filter: brightness(0.7); /* 点击时的效果 */
}
.header-team {
  width: 39px;
  height: 32px;
  position: absolute;
  left: 1527px;
  top: 72px;
}
.header-team:hover {
  filter: brightness(0.5); 
  transition: 0.3s;
}
.header-team:active {
  filter: brightness(0.7); /* 点击时的效果 */
}
.header-menu {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 1615px;
  top: 72px;
}
.header-menu:hover {
  filter: brightness(0.5); 
  transition: 0.3s;
}
.header-menu:active {
  filter: brightness(0.7); /* 点击时的效果 */
}

/* 内容-导航栏 */
.team {
  color: black;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 442px;
  width: 61px;
  height: 23px;
}
.team:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.team:focus {
  color: #587558; /* 点击后变绿色 */
}
.news {
  color: black;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 478px;
  width: 61px;
  height: 23px;
}
.news:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.news:focus {
  color: #587558; /* 点击后变绿色 */
}
.research {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 514px;
  width: 96px;
  height: 23px;
}
.research:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.research:focus {
  color: #587558; /* 点击后变绿色 */
}
.publications {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 550px;
  width: 141px;
  height: 23px;
}
.publications:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.publications:focus {
  color: #587558; /* 点击后变绿色 */
}
.gallery {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 586px;
  width: 111px;
  height: 23px;
}
.gallery:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.gallery:focus {
  color: #587558; /* 点击后变绿色 */
}

/* news显示区 */
#news-photo {
  width: 1193px;
  height: 589px;
  position: absolute;
  left: 297px;
  top: 442px;
  background-size: contain; /* 图片会完全填充容器，但保持其宽高比 */
  background-repeat: no-repeat; /* 防止背景重复 */
  background-position: center; /* 图片居中显示 */
  transition: background-image 0.5s ease-in-out; /* 添加过渡动画 */
}
#news-photo.slide-left {
  animation: slideLeft 0.5s ease-in-out;
}
#news-photo.slide-right {
  animation: slideRight 0.5s ease-in-out;
}
.news-img-section {
  width: 1193px;
  height: 589px;
  position: absolute;
  left: 297px;
  top: 442px;
}
.right-button {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 1509px;
  top: 716px;
}
.left-button {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 236px;
  top: 716px;
}
.left-button, .right-button {
  opacity: 0; /* 初始时不可见 */
  transition: opacity 0.4s; /* 平滑过渡效果 */
}
/* 添加一点悬浮效果 */
.left-button:hover, .right-button:hover {
  opacity: 0.8;
  filter: brightness(0.5); 
  transition: 0.3s;
}
.left-button:hover, .right-button:active {
  filter: brightness(0.7); /* 点击时的效果 */
}
/* 指示器样式设置 */
.indicator-section {
  width: 190px;
  height: 15px;
  position: absolute;
  left: 804px;
  top: 1069px;
  display: flex; /* 使用flex布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.photo-indicator {
  width: 15px; 
  height: 15px; 
  border-radius: 50%;
  background-color: #eaeaea;
  margin: 0 10px; /* 间距 */
  cursor: pointer; /* 鼠标悬停时显示手型指针 */
  transition: background-color 0.3s; /* 平滑背景颜色变化 */
  box-sizing: border-box; /* 确保边框和内边距不影响尺寸 */
  /* 防止Flex布局改变尺寸 */
  flex-shrink: 0; /* 防止缩小 */
  flex-grow: 0;   /* 防止放大 */
}
.photo-indicator:hover {
  background-color: #fccf00; /* 鼠标悬停时的背景颜色 */
}
.photo-indicator.active {
  background-color: #587558; /* 激活状态的背景颜色 */
}


/* Main-Intro设置 */
.main-intro-sect {
  background: #eaeaea;
  width: 567px;
  height: 580px;
  position: absolute;
  left: 307px;
  top: 1122px;
}
.intro-title {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 333px;
  top: 1153px;
  width: 127px;
  height: 19px;
}
.intro-default {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: absolute;
  left: 333px;
  top: 1195px;
  width: 517px;
  height: 478px;
  overflow-y: auto;
}
.intro-default::-webkit-scrollbar {
  display: none; /* 隐藏 Chrome 和 Safari 浏览器中的滚动条 */
}
.intro-text {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
/* Main-News设置 */
.main-news-sect {
  background: #eaeaea;
  width: 567px;
  height: 580px;
  position: absolute;
  left: 933px;
  top: 1122px;
}
.news-title {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 954px;
  top: 1153px;
  width: 71px;
  height: 19px;
}
.plus-verticlebar {
  background: #000000;
  width: 3px;
  height: 11px;
  position: absolute;
  left: 1018px;
  top: 1161px;
}
.plus-horizontalbar {
  background: #000000;
  width: 3px;
  height: 11px;
  position: absolute;
  left: 1014px;
  top: 1168px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.news-default {
  color: #000000;
  text-align: left;
  font: 400 15px "-", sans-serif;
  position: absolute;
  left: 954px;
  top: 1195px;
  width: 517px;
  height: 478px;
  overflow-y: auto; /* 添加垂直滚动 */
}
.news-default::-webkit-scrollbar {
  display: none; /* 隐藏 Chrome 和 Safari 浏览器中的滚动条 */
}
.news-text {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
.news-link a {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
.news-link a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
.news-link a:focus {
  color: #587558; /* 点击后变绿色 */
}


/* 脚栏设置 */
.foot-section {
  background: #eaeaea;
  width: 1728px;
  height: 283px;
  position: absolute;
  left: 0px;
  top: 1796px;
}
.foot-minilogo {
  width: 60px;
  height: 56px;
  position: absolute;
  left: 58px;
  top: 1819px;
  cursor: pointer;
}
.team2 {
  color: black;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1885px;
  width: 60px;
  height: 24px;
}
.team2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.team2:focus {
  color: #587558; /* 点击后变绿色 */
}
.news2 {
  color: black;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1922px;
  width: 60px;
  height: 23px;
}
.news2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.news2:focus {
  color: #587558; /* 点击后变绿色 */
}
.research2 {
  color: #000000;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1959px;
  width: 95px;
  height: 23px;
}
.research2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.research2:focus {
  color: #587558; /* 点击后变绿色 */
}
.publications2 {
  color: #000000;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1996px;
  width: 139px;
  height: 23px;
}
.publications2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.publications2:focus {
  color: #587558; /* 点击后变绿色 */
}
.gallery2 {
  color: #000000;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 2032px;
  width: 109px;
  height: 24px;
}
.gallery2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.gallery2:focus {
  color: #587558; /* 点击后变绿色 */
}
.foot-logo1 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1462px;
  top: 1826px;
}
.foot-logo2 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1540px;
  top: 1826px;
}
.foot-intro {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 1461px;
  top: 1903px;
  width: 200px;
  height: 90px;
}


@keyframes slideLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes slideRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
